*{
  margin: 0;
  padding: 0;


}
header{
  display: grid;
  align-items: center;
  justify-content: center;
}
.logo{
  display: grid;
  width: 20rem;
  margin-top: 1rem;
  
  
 
}
.Nav{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  justify-content: space-around;
}
.NavItem{
  list-style: none;
  
}
.NavItem a{
  text-decoration: none;
  color: black;
}
.NavItem a:hover{
  color: yellow;
  font-size: 2rem;
}
main{
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}
main img {
  height: 15rem;
  width: 25rem;
}
main .card1{
  /* display: grid; */
  grid-template-columns: 1;
  grid-template-rows: 1;
}

main .card2{
  grid-template-columns: 2;
  grid-template-rows: 1;
  
}
main .card3{
  grid-template-columns: 3;
  grid-template-rows: 1;
  
}
main .card3{
  grid-template-columns: 4;
  grid-template-rows: 1;
}

.container{

  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.container form{

  margin-top: 1rem;
  display: grid;
}
.container input , select{
  display: grid;
  width: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 10px;

}
